/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}


a { 
	color: #3acec2;
	text-decoration: none;
	display: block;
	padding: 6px;
}

.main-nav li, .name {
	background-color: #fff;
	border-radius: 2px;
	text-align: center;
	margin: 2px 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	padding: 0 1em;
}

.main-header {
	padding: 1em 0;
	background: #3acec2;
	text-align: center;
}

.main-footer {
	padding: 1em 0;
	background: #d9e4ea;
}

/* ---- Page Elements ---- */

footer {
	text-align: center;
}

/* ================================= 
  Media Query Styles
==================================== */

@media (min-width: 769px){
	
	.main-nav li, .name {
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
	}

	.name {
		float: left;
	}

	.main-nav li {
		margin-right: 12px;
		float: right;
	}


	.wrap {
		min-height: calc(100vh - 89px);
	} 

	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.col {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		vertical-align: top;
		padding: 0 1em; 
	}

}
